@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@400..900&display=swap');
/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --black: #000;
    --white: #fff;
    --gold: #bfb324;
}


body{
    background-color: var(--black);
    color: var(--gold);
    align-items: center;
    margin: 0 auto;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header svg{
    width: 250px;
    height: auto;
    stroke: #fff;
}
nav{
    display: block;
    align-content: center;
}

nav ul{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    width: fit-content;
    margin: 1rem auto;
}

nav li{
    float: left;
    gap: 10px;
}
nav a{
    color: var(--gold);
    font-family: 'Poppins';
    font-weight: bold;
    text-decoration: none;
    margin: 1rem;
    font-size: 36px;
}

nav a.light{
    color: var(--black);
}


#hero{
    margin-bottom: -3px;
}
#hero img{
    width: 100%;
    height: auto;
}

#about{
    text-align: center;
    font-family: 'Poppins';
    padding: 1rem;
}

#about h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

#about p{
    font-size: 18px;
}

#productspace{
    display: grid;
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

#productspace img{
    width: 500px;
    height: auto;
    background-color: var(--white);
    margin-bottom: 1rem;
}

#productspace p{
    font-family: 'Poppins';
    font-size: 24px;
    padding-bottom: 1rem;
}

#productwheel{
    text-align: center;
}

#productwheel ul{
    display: flex;
    justify-content: center;
    gap: 1rem;        
}


#productwheel li{
    float: left;
}

#productwheel button{
    font-family: 'Poppins';
    background-color: var(--gold);
    border: none;
    font-size: 36px;
    padding: 1rem;
}


#productwheel button:hover{
    cursor: pointer;
}

#productwheel button:focus{
    background-color: var(--black);
    color: var(--gold);
    outline: 5px solid var(--white);
}

.hidden{
    display: none;
}

#game{
    margin-top: 5rem;
    text-align: center;
}

#game h2{
    font-family: 'Tektur';
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 2rem;
}

#svg-bg.light{
    fill: var(--white);
}

.svg-piece{
    fill: var(--gold);
}

.svg-bg.light{
    fill: var(--white);
}

.svg-piece{
    fill: var(--gold);
}
.svg-pieceLight{
    fill: var(--black);
}

#game{
    margin-bottom: 3rem;
}
#game form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 2rem;
}

#game label{
    font-family: 'Poppins';
    font-size: 24px;
    grid-column: 1/3;
}

#game p{
    font-family: 'Poppins';
    font-size: 32px;
    padding-bottom: 2rem;
}

#game input{
    height: 60px;
    width: 60px;
    background-color: var(--gold);
    color: var(--black);
    text-align: center;
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 24px;
    border: none;
    margin-bottom: 2rem;
    grid-row: 2/3;
    justify-self: center;
}

#game button{
    height: 60px;
    width: 75%;
    font-family: 'Tektur';
    font-weight: bold;
    font-size: 24px;
    background-color: var(--gold);
    border: none;
    grid-row: 2/3;
    justify-self: center;
}

#game button:hover{
    cursor: pointer;
}

#game button:focus{
    background-color: var(--black);
    color: var(--gold);
    outline: 2px solid var(--white);
}

#contact{
    padding: 2rem;
}

#contact h2, p{
    text-align: center;
}

#contact h2{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36px;
}

#contact p{
    font-family: 'Poppins';
    font-size: 24px;
    margin-bottom: 5rem;
}

#contactform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#contactform img{
    margin: 0 auto;
}

#contactform form{
    display: grid;
    gap: 20px;
}

#contactform{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
}

#my-submit{
    background-color: var(--gold);
    color: var(--black);
    font-family: 'Poppins';
    font-weight: bold;
    border: none;
}

#my-submit:hover{
    cursor: pointer;
}


main svg{
    position: fixed;
    background-color: var(--white);
    bottom: 20px;
    right: 20px;
    z-index: 10;
    width: 50px;
    height: auto;
    border-radius: 10px;
}

main svg.light{
    background-color: var(--black);
    fill: var(--white);
}

main svg:hover{
    filter:invert(100%);
    cursor: pointer;
}



body.light{
    background-color: var(--white);
}


input[type="radio"] + label {
    cursor: pointer;
 display: flex;
 align-items: center;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    border-radius: 0;
}

input[type="radio"] + label::before {
    content: "";   
    font-size: 2.25em;
    line-height: 0.64;
    border-radius: 50%;
    display: inline-block;  
    height: 20px;
    width: 22px;
    text-align: center;
    margin-right: 16px;
    border: 2px solid var(--gold);
    padding-bottom: 2px;
}

input[type="radio"]:checked + label::before {
    content: "\2022";
    color: var(--gold);
}

#productspace p{
    color: var(--gold);
}